article{
	display: none;
}
.wrapper{
	margin-left: 0;
	width: 100%;
}
.main_page_header_wrapper{
	height: 100%;
}
.main_page{
	width: 98%;
}
.blog_list{
	width: 100%;
}
.main_page_header{
	border-bottom: solid 1px #eee;
	margin-bottom: 20px;
	width: 100%;
}
.blog{
	flex-direction: column;
	height: auto;
	margin: 0;
}
#blog_added_information p, #blog_added_information p a{
	font-size: 10px;
}
.main_blog,.main_blog_right{
	border-bottom: solid 1px #eee;
	padding: 3% 1%;
}
#blog_added_information img{
	width: 12px;
	height: 12px;
}
#main_blog_title{
	font-size: 1.4em;
}
.main_blog_bottom_right{
	width: 100%;
	border-bottom: solid 1px #eee;
	margin: 0;
	padding: 3% 0;
}
.main_blog_bottom_footer_items{
	justify-content: center;
}
.main_blog_footer{
	width: 100%;
}
#opened_question_question_title{
	font-size: 15px;
}
#opened_question_question_footer_time{
	font-size: 10px;
}
.opened_question_question_footer_setting_image{
	width: 12px;
	height: 12px;
	display: flex;
	align-items: center;
}
.user_list_block,.tag_list_block{
	width: 100%;
}
.users_list_wrapper,.tags_list_wrapper{
	justify-content: center;
}
.opened_question_question_answers_wrapper{
	padding: 10px 0;
}
.opened_question_question_answer_content{
	font-size: 14px;
	font-weight: 300;
}
.opened_question_question_content{
	font-size: 12px;
	font-weight: 400;
}
.main_page_header_logo_block{
	display: flex;
	width: 100%;
}
.main_page_header_logo_block a{
	display: block;
	width: 70%;
}
#main_page_header_logo{
	display: block;
	float: left;
	height: 60px;
	width: 100%;
}
.search_input_block{
	display: none;
}
.main_page_header_menu_block{
	float: left;
	width: 30px;
	display: flex;
	align-items: center;
	height: 100%;
	transition: all .4s;
	padding: 0 15px;
	margin-right: 10px;
	cursor: pointer;
}
header{
	padding: 0;
}
.main_page_header_menu_block img{
	width: 100%;
}
.main_page_header_wrapper{
	width: 900px;
}
#article_on_1200{
	display: block;
	float: left;
	width: 260px;
	position: absolute;
	margin-left: -260px;
	transition: margin .5s;
	background-color: #516174;
}
#header_login_button{
	display: none;
}
.header_login{
	cursor: pointer;
	width: 61px;
	padding: 0 15px;
	display: flex;
	justify-content: center;
}
.header_login:hover{
	background-color: rgb(100,114,140);
}
.header_login a{
	display: flex;
	justify-content: center;
	width: 17px;
	height: 17px;
}
.header_login img{
	display: block;
	width: 100%;
}
.ads_page_right_sidebar{
	display: none;
}
.header_search{
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	width:61px;
	height: 100%;
	border-left: 1px solid #455365;
	padding: 0 15px;
}
.header_search a{
	width: 17px;
	height: 17px;
	float: left;
}
.header_search a img{
	width: 100%;
}
.header_search:hover{
	background-color: rgb(100, 114, 140);;
}
.footer_abouts{
	width: 50%;
}
.footer_abouts a{
	font-size: 9px;
}
.footer_socials{
	width: 15%;
}
.footer_soical_icons{
	width: 13px;
	height: 13px;
}
#add_question_button span{
	display: none;
}
#add_image{
	display: block;
	width: 15px;
	height: 15px;
}
.question_list{
	width: 100%;
}
#add_question_button{
	width: 15px;
	padding: 6% 12%;
	border-radius: 0;
}
.add_question{
	width: 30%;
}
.article_links_block{
	margin-top: 10px;
}
.question_information_block{
	width: 73%;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.question_list_titles{
	margin-right: 2%;
	font-size: 12px;
}
.question_title{
	font-size: 14px;
	flex-grow: 1;
}
.question_information{
	font-size: .6em;
}
.questions_pages{
	font-size: 10px;

}
#opened_tag_header_about{
	padding: 0;
	width: 100%;
}
#opened_tag_header_wrapper{
	margin-top: 20px;
}
#first_time_guide{
	height: 100%;
	width: 100%;
}
#first_time_guide_lang_setting_img,#first_time_guide_before_end_image{
	width: 98%;
	height: 60px;
}
#first_time_guide_before_end_image{
	height: 200px;
}
.first_time_guide_titles{
	font-size: 25px;
}
#first_time_guide_change_langg{
	font-size: 40px;
}
#first_time_guide_end_title{
	font-size: 15px;
}
.blog_article_image{
	width: 100%;
	height: 200px;
}
.blog_article_info{
	width: 96%;
}
#first_time_guide_end_desc{
	font-size: 10px;
}
#user_logined_header_name{
	display: none;
}
#user_logined_header_block{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.opened_user_profile_list{
	font-size: 10px;
}
#mobileModeFindWrapper{
	width: 100%;
	display: flex;
	align-items: center;
}
.mobileModeFind{
	position: fixed;
    overflow-y: scroll;
	top: 0;
	left: 0;
	z-index: 5;
	flex-direction: column;
	background: #fff;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	padding: 10px;
}
#mobileModeFindClose,#mobileModeFindInput{
	float: left;
}
#mobileModeFindInput{
	outline: none;
	border-radius: 5px;
	border: solid 1px #cfcfcf;
	padding: 5px;
	flex-grow: 1;
	margin-right: 10px;
	font-size: 13px;
	color: #424b5f;
}
#mobileModeFindClose{
	color: #a0a0a0;
	cursor: pointer;
	font-family: 'Roboto',Arial,sans-serif;
	border-bottom: dotted 1px;
}
#mobileModeFoundWrapper{
    margin-top: 8px;
}
.findList{
    padding: 5px;
    width: calc(100% - 10px);
    height: 25px;
}
.findTagImage{
    height: 20px;
    width: 20px;
}
.opened_question_comment_to_answer_date{
	font-size: 12px;
}
.opened_question_comment_to_answer_like_bttn,
.opened_question_comment_to_answer_reply_bttn{
	font-size: 14px;
	margin: 0 4px;
}
.opened_question_answer_comment_wrapper{
	padding: 30px 12px 15px 15px;
	width: calc(100% - 24px);
}
#opened_user_profile_lists{
	display: none;
}
.select{
	display: block;
}
#text_answers_to_question,
#opened_question_question_add_answer_title{
	font-size: 12px;
}